@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #313134;
}

button,
input {
  outline: none;
  border: none;
}

a {
  color: #313134;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts emmbeded */
@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-Bold.ttf');
  font-weight: 700;
}

/* Custom antd */
.ant-tabs-ink-bar {
  background-color: transparent !important;
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-tabs-content-holder {
  overflow: auto !important;
}

.ant-popover-inner {
  padding: 0 !important;
}

.ant-select-selector {
  font-size: unset !important;
}

.ant-input-password {
  font-size: unset !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.theme-light {
  --bg-default: #f3efe2;
  --bg-Neutral: #fffcf7;
  --bg-NeutralHover: #091e4224;
  --text-color: #313134;
}

.theme-dark {
  --bg-default: #1e1e1e;
  --bg-Neutral: #292929;
  --bg-NeutralHover: #3c3c3c;
  --text-color: #ffffff;
}
