@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

button,
input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts emmbeded */
@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/SVN-Poppins-Bold.ttf');
  font-weight: 700;
}

/* Custom antd */
.ant-tabs-ink-bar {
  background-color: transparent !important;
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-tabs-content-holder {
  overflow: auto !important;
}

.ant-popover-inner {
  padding: 0 !important;
}

.ant-select-selector {
  font-size: unset !important;
}

.ant-input-password {
  font-size: unset !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.theme-light {
  --bg-default: #f3efe2;
  --bg-surface: #ffffff;
  --bg-Neutral: #091e4212;
  --bg-NeutralHover: #091e4224;
  --primary: #2769e7;
  --primaryHover: #1c4494;
  --primary2: #407ae4;
  --secondary: #fd6267;
  --secondaryHover: #ec6064;
  --alternative: #41ab3f;
  --alternativeHover: #409c46;
  --text-color: #313134;
}
.theme-dark {
  --bg-default: #18191a;
  --bg-surface: #242526;
  --bg-Neutral: #4d5967ed;
  --bg-NeutralHover: #272c31d4;
  --primary: #5287ec;
  --primaryHover: #4969a9;
  --primary2: #6695e9;
  --secondary: #fd8185;
  --secondaryHover: #f08083;
  --alternative: #67bc65;
  --alternativeHover: #66b06b;
  --text-color: #ffffff;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.table-bg-white table {
  background-color: white;
}

.ant-select-selection-item {
  font-size: 14px;
}

.scale-up {
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

:is(.css-dev-only-do-not-override-le3245).ant-btn:not(.ant-btn-primary),
:is(.css-dev-only-do-not-override-le3245).ant-card,
:is(.css-dev-only-do-not-override-le3245).ant-input,
:is(.css-dev-only-do-not-override-le3245).ant-checkbox .ant-checkbox-inner,
:is(.css-dev-only-do-not-override-le3245).ant-table-wrapper .ant-table,
.ant-select-selector,
.ant-dropdown-menu {
  background-color: var(--bg-surface) !important;
}
