@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts emmbeded */
@font-face {
  font-family: Poppins;
  src: url('/frontend/src/assets/fonts/SVN-Poppins\ Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/frontend/src/assets/fonts/SVN-Poppins\ Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/frontend/src/assets/fonts/SVN-Poppins\ SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/frontend/src/assets/fonts/SVN-Poppins\ Bold.ttf');
  font-weight: 700;
}
